@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'FM Basuru';
  src: url('/fonts/FMBasuru.ttf') format('truetype');
}
@font-face {
  font-family: 'Sarasavi';
  src: url('/fonts/SINHASarasavi.ttf') format('truetype');
}
@font-face {
  font-family: 'Apex Pura';
  src: url('/fonts/ApexPura.ttf') format('truetype');
}

body {
  @apply bg-secondary-alice text-primary-blue;
  font-family: 'Sarasavi', 'FM Basuru', 'Apex Pura', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Apex Pura', 'Poppins', sans-serif;
}

a {
  @apply transition-all duration-200;
}
